.wrapper {
  display: flex;
  padding: 20px;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 15px;

  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 15px;

  .name {
    font-weight: 600;
    padding-bottom: 11px;
    font-size: 20px;
  }

  .ratingCont {
    display: flex;

    .reviewCount {
      font-size: 14px;
      color: #868686;
      padding-left: 20px;
    }
  }

  .description {
    padding-top: 11px;
  }

  .btnPriceCont {
    display: flex;
    align-items: center;
  }

  .buttonActive {
    width: 179px;
    height: 40px;
    color: #00bb6d;
    background: #00bb6d50;
    border-radius: 12px;
    border: 0;
  }

  .button {
    width: 179px;
    height: 40px;
    color: #6a53f5;
    background: #6b53f550;
    border-radius: 12px;
    border: 0;
  }

  .img {
    padding-right: 10px;
  }

  .priceCont {
    display: flex;
    flex-direction: column;
    padding-left: 35px;

    .price {
      font-weight: 600;
      font-size: 22px;
    }

    .priceNight {
      font-size: 12px;
      color: #868686;
    }
  }
}
