.selectedCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectedStars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 9px;
}

.selectedStar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 30px;
  background: #00bb6d;
  border-radius: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.optionsCont {
  display: flex;
  flex-direction: column;
  transition: max-height 1s;
  overflow: hidden;
  padding-left: 22px;
}

.optionsContItem {
  width: 330px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: left;
  padding: 26px 0 26px 20px;
}

.optionsItem {
  display: flex;
  padding-bottom: 15px;
}

.topCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-bottom: 10px;
}

.starsCont {
  width: 330px;
  height: 50px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 10px;
}

.starsInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #868686;
}

.starsText {
  padding-right: 57%;
  padding-top: 28px;
  padding-left: 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.starsText2 {
  padding: 13px 0 0 19px;
}

.imgVector {
  padding: 13px 19px 0 0;
}
