.container {
  text-align: left;
  padding: 0 22px 0 22px;
}

.inputsCont {
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 0;
}

.inputFirst {
  width: 100%;
  height: 50px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 20px;
}

.priceText {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.tire {
  color: #c4c4c4;
  font-size: 30px;
  padding: 0 10px 0 10px;
}
