.btnsCont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1em;
}

.reviewCont {
  text-align: left;
  padding: 25px 0 20px 22px;
  ::placeholder {
    font-size: 16px;
    font-family: "Lucida Sans", sans-serif;
  }
}

.reviewCountCont {
  width: 330px;
  height: 50px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
}

.filterBtn {
  height: 56px;
  background: #6a53f5;
  border-radius: 15px;
  border: 0;
  color: #fff;
  font-weight: 600;
}

.filterClearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 15px;
  border: 0;
  font-weight: 600;
}

.reviewsText {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.iks {
  font-weight: 500;
  font-size: 23px;
  padding-right: 5px;
}
